@model WebShop.ViewModels.Product.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";

}

@*<h2>Details</h2>*@

<link href="~/wwwroot/css/StyleSheet2.css" rel="stylesheet" type="text/css" />
<h2 class="p-3 mb-2 bg-success text-white" style="text-align: center;">Details</h2>
@*class="glyphicon glyphicon-user"*@

<div>
   
    
    <hr />

    <dl class="list-counter-square">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="text-danger">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="text-danger" >
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd class="text-danger">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd class="text-danger">
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd class="text-danger">
            @{
                var categoryName = Model.Category?.Name ?? string.Empty;
            }
            @Html.DisplayFor(model => categoryName)
        </dd>

        <div>
            @using (Html.BeginForm("AddToBasket", "Basket", FormMethod.Post  ))
            {
                <input name="Quantity" type="number" step="1" min="0" max="1001" value="1" />
                <input name="ProductId" type="hidden" value="@Model.Id" />
                @*<input type="submit" value="Buy" />*@
                <button type="submit" class="btn btn-success">Buy</button>


                //new { productId = Model.Id };
            }
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
